RewriteEngine on

# Serve the public folder as the web root
RewriteRule ^public/(.*)$ public/$1 [L]

# Redirect the root URL into public/
RewriteRule ^$ public/ [L]

# If the requested file or directory does not exist at the root,
# try serving it from public/ instead.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L,QSA]

# If a request has no extension but a public HTML file exists, serve that.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/public/$1.html -f
RewriteRule ^(.*)$ public/$1.html [L,QSA]