/* Fonts START */


@font-face {

  font-family: OpenSans-Bold;
  
  src:url(../fonts/Rajdhani-Light.ttf);

  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }

  @font-face {

    font-family: OpenSans-Regular;
    
    src:url(../fonts/Rajdhani-Regular.ttf);
  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }


    @font-face {

      font-family: OpenSans-Light;
      
      src:url(../fonts/Genos-LightItalic.ttf);
    
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      }


/* Fonts END */








html, body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  height: 125px;
  width: 100%;
  background: white;
}

main {
  margin-top: 128px;
}

@supports (height: 100vh) {
  body {
    background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
    background-size: 100% calc(100% - 100vh + 129px);
    background-repeat: no-repeat;
  }

  body:before {
    content: "";
    position: fixed;
    top: 128px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: white;
  }
}
body {
  font-family: OpenSans-Bold;
  font-size: 1.25rem;
}

main, header {
  padding: 10px 10%;
  box-sizing: border-box;
}